a:
  off: [
    ['interj', 'ah, ha, uh, oh, ooh, aw, well (emotion word)']
  ]

akesi:
  off: [
    ['n', 'non-cute animal, reptile, amphibian']
  ]
  add: [
    ['noun', 'noun creeping animal, a scaly or slimy animal that creeps on land']
    ['noun', 'noun reptile, any air-breathing cold-blooded animal that crawls on land and has scales and bones; reptile']
    ['noun', 'noun amphibian, any cold-blooded animal with bones that lives on both land and in water; amphibian']
    ['noun', 'noun large arthropod, a large arthropod that lives on land; scorpion']
    ['describer', 'describer like an akesi in appearance']
    ['describer', 'describerhaving the characteristics or properties of an akesi']
  ]

ala:
  off: [
    ['mod', 'no, not, none, un-']
    ['n', 'nothing, negation, zero']
    ['interj', 'no!']
  ]
  add: [
    ['describer', 'describer not, not such; no, not']
    ['describer', 'describer no, zero, no quantity of; no, zero']
    ['describer', 'describer un-, opposite of; un-']
    ['noun', 'noun the state, situation or general phenomenon of being ala; absence, emptiness, negation, nothing, zero']
    ['interjection', 'interjection a short, sudden or emotional expression of ala; no!']
  ]

alasa:
  add: [
    ['transitive verb', 'transitive verb to gather, to collect food, resources or material needed for daily life and survival; to gather, harvest']
    ['transitive verb', 'transitive verb to hunt, to pursue and kill animals to use as food and clothing; to hunt']
  ]

ale:
  see: 'ali'

ali:
  off: [
    ['n', 'everything, anything, life, the universe']
    ['mod', 'all, every, complete, whole']
  ]

anpa:
  off: [
    ['n', 'bottom, lower part, under, below, floor, beneath']
    ['mod', 'low, lower, bottom, down']
  ]

ante:
  off: [
    ['n', 'difference']
    ['mod', 'different']
    ['conj', 'otherwise, or else']
    ['vt', 'change, alter, modify']
  ]

anu:
  off: [
    ['conj', 'or']
  ]

awen:
  off: [
    ['vi', 'stay, wait, remain']
    ['vt', 'keep']
    ['mod', 'remaining, stationary, permanent, sedentary']
  ]

e:
  off: [
    ['sep', '(introduces a direct object)']
  ]

en:
  off: [
    ['conj', 'and (used to coordinate head nouns)']
  ]

esun:
  off: [
    ['n', 'market, shop']
  ]

ijo:
  off: [
    ['n', 'thing, something, stuff, anything, object']
    ['mod', 'of something']
    ['vt', 'objectify']
  ]

ike:
  off: [
    ['mod', 'bad, negative, wrong, evil, overly complex, (figuratively) unhealthy']
    ['interj', 'oh dear! woe! alas!']
    ['n', 'negativity, badness, evil']
    ['vt', 'to make bad, to worsen, to have a negative effect upon']
    ['vi', 'to be bad, to suck']
  ]

ilo:
  off: [
    ['n', 'tool, device, machine, thing used for a specific purpose']
  ]

insa:
  off: [
    ['n', 'inside, inner world, centre, stomach']
    ['mod', 'inner, internal']
  ]

jaki:
  off: [
    ['mod', 'dirty, gross, filthy']
    ['n', 'dirt, pollution, garbage, filth']
    ['vt', 'pollute, dirty']
    ['interj', 'ew! yuck!']
  ]

jan:
  off: [
    ['n', 'person, people, human, being, somebody, anybody']
    ['mod', 'human, somebody\'s, personal, of people']
    ['vt', 'personify, humanize, personalize']
  ]

jelo:
  off: [
    ['mod', 'yellow, light green']
  ]

jo:
  off: [
    ['vt', 'have, contain']
    ['n', 'having']
    ['kama', 'receive, get, take, obtain']
  ]

kala:
  off: [
    ['n', 'fish, sea creature']
  ]

kalama:
  off: [
    ['n', 'sound, noise, voice']
    ['vi', 'make noise']
    ['vt', 'sound, ring, play (an instrument)']
  ]

kama:
  off: [
    ['vi', 'come, become, arrive, happen, pursue actions to arrive to (a certain state), manage to, start to']
    ['n', 'event, happening, chance, arrival, beginning']
    ['mod', 'coming, future']
    ['vt', 'bring about, summon']
  ]

kasi:
  off: [
    ['n', 'plant, leaf, herb, tree, wood']
  ]

ken:
  off: [
    ['vi', 'can, is able to, is allowed to, may, is possible']
    ['n', 'possibility, ability, power to do things, permission']
    ['vt', 'make possible, enable, allow, permit']
    ['cont', 'it is possible that']
  ]

kepeken:
  off: [
    ['vt', 'use']
    ['prep', 'with']
  ]

kili:
  off: [
    ['n', 'fruit, pulpy vegetable, mushroom']
  ]

kin:
  off: [
    ['mod', 'also, too, even, indeed (emphasizes the word(s) before it)']
  ]

kipisi:
  notoriginal: true

kiwen:
  off: [
    ['mod', 'hard, solid, stone-like, made of stone or metal']
    ['n', 'hard thing, rock, stone, metal, mineral, clay']
  ]

ko:
  off: [
    ['n', 'semi-solid or squishy substance, e.g. paste, powder, gum']
  ]

kon:
  off: [
    ['n', 'air, wind, smell, soul']
    ['mod', 'air-like, ethereal, gaseous']
  ]

kule:
  off: [
    ['n', 'colour, paint']
    ['mod', 'colourful']
    ['vt', 'colour, paint']
  ]

kute:
  off: [
    ['vt', 'listen, hear']
    ['mod', 'auditory, hearing']
  ]

kulupu:
  off: [
    ['n', 'group, community, society, company, people']
    ['mod', 'communal, shared, public, of the society']
  ]

la:
  off: [
    ['sep', '(between adverb or phrase of context and sentence)']
  ]

lape:
  off: [
    ['mod', 'sleeping, of sleep']
  ]
  add: [
    ['n, vi', 'sleep, rest']
  ]

laso:
  off: [
    ['mod', 'blue, blue-green']
  ]

lawa:
  off: [
    ['n', 'head, mind']
    ['mod', 'main, leading, in charge']
    ['vt', 'lead, control, rule, steer']
  ]

len:
  off: [
    ['n', 'clothing, cloth, fabric']
  ]

lete:
  off: [
    ['n', 'cold']
    ['mod', 'cold, uncooked']
    ['vt', 'cool down, chill']
  ]

li:
  off: [
    ['sep', '"(between any subject except mi and sina and its verb; also used to introduce a new verb for the same subject)"']
  ]

lili:
  off: [
    ['mod', 'small, little, young, a bit, short, few, less']
    ['vt', 'reduce, shorten, shrink, lessen']
  ]

linja:
  off: [
    ['n', 'long, very thin, floppy thing, e.g. string, rope, hair, thread, cord, chain']
  ]

lipu:
  off: [
    ['n', 'flat and bendable thing, e.g. paper, card, ticket']
  ]

loje:
  off: [
    ['mod', 'red']
  ]

lon:
  off: [
    ['prep', 'be (located) in/at/on']
    ['vi', 'be there, be present, be real/true, exist, be awake']
  ]

luka:
  off: [
    ['n', 'hand, arm']
  ]

lukin:
  off: [
    ['vt', 'see, look at, watch, read']
    ['vi', 'look, watch out, pay attention']
    ['mod', 'visual(ly)']
  ]

lupa:
  off: [
    ['n', 'hole, orifice, window, door']
  ]

ma:
  off: [
    ['n', 'land, earth, country, (outdoor) area']
  ]

mama:
  off: [
    ['n', 'parent, mother, father']
    ['mod', 'of the parent, parental, maternal, fatherly']
  ]

mani:
  off: [
    ['n', 'money, material wealth, currency, dollar, capital']
  ]

meli:
  off: [
    ['n', 'woman, female, girl, wife, girlfriend']
    ['mod', 'female, feminine, womanly']
  ]

mi:
  off: [
    ['n', 'I, we']
    ['mod', 'my, our']
  ]

mije:
  off: [
    ['n', 'man, male, boy, husband, boyfriend']
    ['mod', 'male, masculine, manly']
  ]

moku:
  off: [
    ['n', 'food, meal']
    ['vt', 'eat, drink, swallow, ingest, consume']
  ]

moli:
  off: [
    ['n', 'death']
    ['vi', 'die, be dead']
    ['vt', 'kill']
    ['mod', 'dead, deadly, fatal']
  ]

monsi:
  off: [
    ['n', 'back, rear end, butt, behind']
    ['mod', 'back, rear']
  ]

mu:
  off: [
    ['interj', 'woof! meow! moo! etc. (cute animal noise)']
  ]

mun:
  off: [
    ['n', 'moon']
    ['mod', 'lunar']
  ]

musi:
  off: [
    ['n', 'fun, playing, game, recreation, art, entertainment']
    ['mod', 'artful, fun, recreational']
    ['vi', 'play, have fun']
    ['vt', 'amuse, entertain']
  ]

mute:
  off: [
    ['mod', 'many, very, much, several, a lot, abundant, numerous, more']
    ['n', 'amount, quantity']
    ['vt', 'make many or much']
  ]

namako:
  new: true

nanpa:
  off: [
    ['n', 'number']
    ['oth', '-th (ordinal numbers)']
  ]

nasa:
  off: [
    ['mod', 'silly, crazy, foolish, drunk, strange, stupid, weird']
    ['vt', 'drive crazy, make weird']
  ]

nasin:
  off: [
    ['n', 'way, manner, custom, road, path, doctrine, system, method']
  ]

nena:
  off: [
    ['n', 'bump, nose, hill, mountain, button']
  ]

ni:
  off: [
    ['mod', 'this, that']
  ]

nimi:
  off: [
    ['n', 'word, name']
  ]

noka:
  off: [
    ['n', 'leg, foot']
  ]

o:
  off: [
    ['sep', 'O (vocative or imperative)']
    ['interj', 'hey! (calling somebody\'s attention)']
  ]

oko:
  off: [
    ['n', 'eye']
  ]

olin:
  off: [
    ['n', 'love']
    ['mod', 'love']
    ['vt', 'to love (a person)']
  ]

ona:
  off: [
    ['n', 'she, he, it, they']
    ['mod', 'her, his, its, their']
  ]

open:
  off: [
    ['vt', 'open, turn on']
  ]

pakala:
  off: [
    ['n', 'blunder, accident, mistake, destruction, damage, breaking']
    ['vt', 'screw up, fuck up, botch, ruin, break, hurt, injure, damage, spoil, ruin']
    ['vi', 'screw up, fall apart, break']
    ['interj', 'damn! fuck!']
  ]

pali:
  off: [
    ['n', 'activity, work, deed, project']
    ['mod', 'active, work-related, operating, working']
    ['vt', 'do, make, build, create']
    ['vi', 'act, work, function']
  ]

palisa:
  off: [
    ['n', 'long, mostly hard object, e.g. rod, stick, branch']
  ]

pan:
  off: [
    ['n', 'grain, cereal']
  ]

pana:
  off: [
    ['vt', 'give, put, send, place, release, emit, cause']
    ['n', 'giving, transfer, exchange']
  ]

pata:
  off: [
    ['n', 'n brother']
  ]

pi:
  off: [
    ['sep', 'of, belonging to']
  ]

pilin:
  off: [
    ['n', 'feelings, emotion, heart']
    ['vi', 'feel']
    ['vt', 'feel, think, sense, touch']
  ]

pimeja:
  off: [
    ['mod', 'black, dark']
    ['n', 'darkness, shadows']
    ['vt', 'darken']
  ]

pini:
  off: [
    ['n', 'end, tip']
    ['mod', 'completed, finished, past, done, ago']
    ['vt', 'finish, close, end, turn off']
  ]

pipi:
  off: [
    ['n', 'bug, insect, spider']
  ]

poka:
  off: [
    ['n', 'side, hip, next to']
    ['prep', 'in the accompaniment of, with']
    ['mod', 'neighbouring']
  ]

poki:
  off: [
    ['n', 'container, box, bowl, cup, glass']
  ]

pona:
  off: [
    ['n', 'good, simplicity, positivity']
    ['mod', 'good, simple, positive, nice, correct, right']
    ['interj', 'great! good! thanks! OK! cool! yay!']
    ['vt', 'improve, fix, repair, make good']
  ]
  add: [
    ['describer beneficial; good', 'describer beneficial; good']
    [' beneficial; good', 'describer beneficial; good']
    ['describer benevolent; altruistic, kind, symbiotic', 'describer benevolent; altruistic, kind, symbiotic']
    [' benevolent; altruistic, kind, symbiotic', 'describer benevolent; altruistic, kind, symbiotic']
    ['describer helpful; cooperating', 'describer helpful; cooperating']
    [' helpful; cooperating', 'describer helpful; cooperating']
    ['describer ideal', 'describer ideal']
    [' ideal', 'describer ideal']
    ['describer conducive to overall wellness', 'describer conducive to overall wellness']
    [' conducive to overall wellness', 'describer conducive to overall wellness']
  ]

sama:
  off: [
    ['mod', 'same, similar, equal, of equal status or position']
    ['prep', 'like, as, seem']
  ]
  add: [
    ['adjective', 'adjective filling the same or a similar role; equivalent']
    ['adjective', 'adjective self-']
  ]

seli:
  off: [
    ['n', 'fire, warmth, heat']
    ['mod', 'hot, warm, cooked']
    ['vt', 'heat, warm up, cook']
  ]
  add: [
    ['noun', 'noun fire, a force of nature or chemical reaction that releases heat and light, potentially causing destruction; fire, lightning, explosion, exothermic reaction']
    ['noun', 'noun heat source, something that provides heat']
    ['noun', 'noun cooking source, something that provides heat for preparing food']
    ['noun', 'noun light source, something that provides light']
    ['transitive verb', 'transitive verbto use seli on']
  ]

selo:
  off: [
    ['n', 'outside, surface, skin, shell, bark, shape, peel']
  ]

seme:
  off: [
    ['oth', 'what, which, wh- (question word)']
  ]

sewi:
  off: [
    ['n', 'high, up, above, top, over, on']
    ['mod', 'superior, elevated, religious, formal']
  ]

sijelo:
  off: [
    ['n', 'body, physical state']
  ]

sike:
  off: [
    ['n', 'circle, wheel, sphere, ball, cycle']
    ['mod', 'round, cyclical']
  ]

sin:
  off: [
    ['mod', 'new, fresh, another, more']
    ['vt', 'renew, renovate, freshen']
  ]

sina:
  off: [
    ['n', 'you']
    ['mod', 'your']
  ]

sinpin:
  off: [
    ['n', 'front, chest, torso, face, wall']
  ]

sitelen:
  off: [
    ['n', 'picture, image']
    ['vt', 'draw, write']
  ]
  add: [
    ['noun', 'noun representation, a visual or tactile work that serves to show, describe, explain or remind us of something else; representation, model']
    ['noun', 'noun picture, specific lines and shapes marked on a surface; drawing, print, painting, image, sign, sketch, outline, blueprint, etching, picture,']
    ['noun', 'noun diagram, chart, graph']
    ['noun', 'noun sculpture , an object made into the shape of something; carving, sculpture, figurine, replica']
  ]

sona:
  off: [
    ['n', 'knowledge, wisdom, intelligence, understanding']
    ['vt', 'know, understand, know how to']
    ['vi', 'know, understand']
    ['kama', 'learn, study']
  ]

soweli:
  off: [
    ['n', 'animal, especially land mammal, lovable animal']
  ]

suli:
  off: [
    ['mod', 'big, tall, long, adult, important']
    ['vt', 'enlarge, lengthen']
    ['n', 'size']
  ]

suno:
  off: [
    ['n', 'sun, light']
  ]
  add: [
    ['describer', 'describer having the qualities or characteristics of suno, shiny']
  ]

supa:
  off: [
    ['n', 'horizontal surface, e.g furniture, table, chair, pillow, floor']
  ]
  add: [
    ['noun', 'noun supporting platform, surface']
  ]

suwi:
  off: [
    ['n', 'candy, sweet food']
    ['mod', 'sweet, cute']
    ['vt', 'sweeten']
  ]

tan:
  off: [
    ['prep', 'from, by, because of, since']
    ['n', 'origin, cause']
  ]
  add: [
    ['relation word', 'relation word, origin, indicates the place of origin']
  ]

taso:
  off: [
    ['mod', 'only, sole']
    ['conj', 'but']
  ]

tawa:
  off: [
    ['prep', 'to, in order to, towards, for, until']
    ['vi', 'go to, walk, travel, move, leave']
    ['n', 'movement, transportation']
    ['mod', 'moving, mobile']
    ['vt', 'move, displace']
  ]

telo:
  off: [
    ['n', 'water, liquid, juice, sauce']
    ['vt', 'water, wash with water']
  ]
  add: [
    ['noun', 'noun liquid, a flowing wet substance; liquid, fluid, water']
    ['noun', 'noun beverage, a liquid for drinking; beverage, drink, water, juice']
    ['noun', 'noun a liquid for washing; water']
    ['noun', 'noun body fluid, a liquid that comes out of the body; blood, milk, saliva, semen, sweat, tears, urine']
    ['noun', 'noun body of water, an area covered with water; bay, strait, sea, lake, river, stream']
    ['transitive verb', 'transitive verb to use telo on; to water, rinse, wash, wet']
    ['describer', 'describer having the characteristics or properties of telo; wet, liquid']
  ]

tenpo:
  off: [
    ['n', 'time, period of time, moment, duration, situation']
  ]

toki:
  off: [
    ['n', 'language, talking, speech, communication']
    ['mod', 'talking, verbal']
    ['vt', 'say']
    ['vi', 'talk, chat, communicate']
    ['interj', 'hello! hi!']
  ]
  add: [
    ['transitive verb', 'transitive verb to give and receive (e: information) (tawa: with); to communicate']
    ['transitive verb', 'transitive verb to put together (e: thoughts or ideas); to think out']
  ]

tomo:
  off: [
    ['n', 'indoor constructed space, e.g. house, home, room, building']
    ['mod', 'urban, domestic, household']
  ]

tu:
  off: [
    ['mod', 'two']
    ['n', 'duo, pair']
    ['vt', 'double, separate/cut/divide in two']
  ]

unpa:
  off: [
    ['n', 'sex, sexuality']
    ['mod', 'erotic, sexual']
    ['vt', 'have sex with, sleep with, fuck']
    ['vi', 'have sex']
  ]

uta:
  off: [
    ['n', 'mouth']
    ['mod', 'oral']
  ]

utala:
  off: [
    ['n', 'conflict, disharmony, competition, fight, war, battle, attack, blow, argument, physical or verbal violence']
    ['vt', 'hit, strike, attack, compete against']
  ]

walo:
  off: [
    ['mod', 'white, light (colour)']
    ['n', 'white thing or part, whiteness, lightness']
  ]

wan:
  off: [
    ['mod', 'one, a']
    ['n', 'unit, element, particle, part, piece']
    ['vt', 'unite, make one']
  ]

waso:
  off: [
    ['n', 'bird, winged animal']
  ]

wawa:
  off: [
    ['n', 'energy, strength, power']
    ['mod', 'energetic, strong, fierce, intense, sure, confident']
    ['vt', 'strengthen, energize, empower']
  ]

weka:
  off: [
    ['mod', 'away, absent, missing']
    ['n', 'absence']
    ['vt', 'throw away, remove, get rid of']
  ]

wile:
  off: [
    ['vt', 'to want, need, wish, have to, must, will, should']
    ['n', 'desire, need, will']
    ['mod', 'necessary']
  ]
