a:
  summary: 'ah!'
  tags: ['interjection']
  off: [
    ['interj', 'ah, ha, uh, oh, ooh, aw, well (emotion word)']
  ]

akesi:
  summary: 'beast'
  tags: ['animal', 'bad']
  off: [
    ['n', 'non-cute animal, reptile, amphibian']
  ]
  add: [
    ['n', 'creeping animal, a scaly or slimy animal that creeps on land']
    ['n', 'reptile, any air-breathing cold-blooded animal that crawls on land and has scales and bones; reptile']
    ['n', 'amphibian, any cold-blooded animal with bones that lives on both land and in water; amphibian']
    ['n', 'large arthropod, a large arthropod that lives on land; scorpion']
    ['mod', 'like an akesi in appearance']
    ['mod', 'having the characteristics or properties of an akesi']
  ]

ala:
  summary: 'no'
  tags: ['interjection']
  off: [
    ['mod', 'no, not, none, un-']
    ['n', 'nothing, negation, zero']
    ['interj', 'no!']
  ]
  add: [
    ['mod', 'not, not such; no, not']
    ['mod', 'no, zero, no quantity of; no, zero']
    ['mod', 'un-, opposite of; un-']
    ['n', 'the state, situation or general phenomenon of being ala; absence, emptiness, negation, nothing, zero']
    ['interj', 'a short, sudden or emotional expression of ala; no!']
  ]

alasa:
  summary: 'harvest'
  tags: ['food']
  new: true
  add: [
    ['vt', 'to gather, to collect food, resources or material needed for daily life and survival; to gather, harvest']
    ['vt', 'to hunt, to pursue and kill animals to use as food and clothing; to hunt']
  ]

ale:
  see: 'ali'

ali:
  summary: 'all'
  tags: ['number']
  off: [
    ['n', 'everything, anything, life, the universe']
    ['mod', 'all, every, complete, whole']
  ]

anpa:
  summary: 'lower'
  tags: ['location']
  off: [
    ['n', 'bottom, lower part, under, below, floor, beneath']
    ['mod', 'low, lower, bottom, down']
  ]

ante:
  summary: 'different'
  off: [
    ['n', 'difference']
    ['mod', 'different']
    ['conj', 'otherwise, or else']
    ['vt', 'change, alter, modify']
  ]

anu:
  summary: 'or'
  off: [
    ['conj', 'or']
  ]

apeja:
  summary: 'shame'
  obsolete: true
  add: [
    ['mod', 'shame, guilt']
  ]

awen:
  summary: 'stay'
  tags: ['movement']
  off: [
    ['vi', 'stay, wait, remain']
    ['vt', 'keep']
    ['mod', 'remaining, stationary, permanent, sedentary']
  ]

e:
  summary: '[direct object ->]'
  tags: ['grammar']
  off: [
    ['sep', '(introduces a direct object)']
  ]

en:
  summary: 'and'
  off: [
    ['conj', 'and (used to coordinate head nouns)']
  ]

esun:
  summary: 'shop'
  new: true
  off: [
    ['n', 'market, shop']
  ]

ijo:
  summary: 'thing'
  off: [
    ['n', 'thing, something, stuff, anything, object']
    ['mod', 'of something']
    ['vt', 'objectify']
  ]

ike:
  summary: 'bad'
  mnemonic: 'sounds like icky'
  tags: ['bad']
  off: [
    ['mod', 'bad, negative, wrong, evil, overly complex, (figuratively) unhealthy']
    ['interj', 'oh dear! woe! alas!']
    ['n', 'negativity, badness, evil']
    ['vt', 'to make bad, to worsen, to have a negative effect upon']
    ['vi', 'to be bad, to suck']
  ]

iki:
  summary: 'it'
  obsolete: 'ona'
  add: [
    ['n', 'her, she, it']
  ]

ilo:
  summary: 'tool'
  off: [
    ['n', 'tool, device, machine, thing used for a specific purpose']
  ]

insa:
  summary: 'inside'
  mnemonic: 'inside'
  tags: ['location']
  off: [
    ['n', 'inside, inner world, centre, stomach']
    ['mod', 'inner, internal']
  ]

jaki:
  summary: 'gross'
  mnemonic: 'yucky'
  tags: ['bad']
  off: [
    ['mod', 'dirty, gross, filthy']
    ['n', 'dirt, pollution, garbage, filth']
    ['vt', 'pollute, dirty']
    ['interj', 'ew! yuck!']
  ]

jan:
  summary: 'person'
  tags: ['people']
  off: [
    ['n', 'person, people, human, being, somebody, anybody']
    ['mod', 'human, somebody\'s, personal, of people']
    ['vt', 'personify, humanize, personalize']
  ]

jelo:
  summary: 'yellow'
  mnemonic: 'yellow'
  tags: ['colour']
  off: [
    ['mod', 'yellow, light green']
  ]

jo:
  summar: 'have'
  off: [
    ['vt', 'have, contain']
    ['n', 'having']
    ['kama', 'receive, get, take, obtain']
  ]

kala:
  summary: 'fish'
  tags: ['animal', 'food']
  off: [
    ['n', 'fish, sea creature']
  ]

kalama:
  summary: 'sound'
  off: [
    ['n', 'sound, noise, voice']
    ['vi', 'make noise']
    ['vt', 'sound, ring, play (an instrument)']
  ]

kama:
  summary: 'come'
  mnemonic: 'come up'
  tags: ['movement']
  off: [
    ['vi', 'come, become, arrive, happen, pursue actions to arrive to (a certain state), manage to, start to']
    ['n', 'event, happening, chance, arrival, beginning']
    ['mod', 'coming, future']
    ['vt', 'bring about, summon']
  ]

kan:
  summary: 'with'
  obsolete: 'poka'
  add: [
    ['prep', 'with, among']
  ]

kapa:
  summary: 'bump'
  obsolete: 'nena'
  add: [
    ['n', 'any extrusion or protrusion, e.g. hill, mountain, button']
  ]

kapesi:
  summary: 'dull'
  obsolete: 'pimeja'
  add: [
    ['mod', 'brown, grey']
  ]

kasi:
  summary: 'plant'
  tags: ['material', 'food']
  off: [
    ['n', 'plant, leaf, herb, tree, wood']
  ]

ken:
  summary: 'able'
  off: [
    ['vi', 'can, is able to, is allowed to, may, is possible']
    ['n', 'possibility, ability, power to do things, permission']
    ['vt', 'make possible, enable, allow, permit']
    ['cont', 'it is possible that']
  ]

kepeken:
  summary: 'use'
  off: [
    ['vt', 'use']
    ['prep', 'with']
  ]

kijetesantakalu:
  summary: 'racoon'
  obsolete: true
  off: [
    ['n', 'any animal from the Procyonidae family, such as raccoons, coatis, kinkajous, olingos, ringtails and cacomistles']
  ]

kili:
  summary: 'fruit'
  tags: ['food']
  off: [
    ['n', 'fruit, pulpy vegetable, mushroom']
  ]

kin:
  summary: 'also'
  off: [
    ['mod', 'also, too, even, indeed (emphasizes the word(s) before it)']
  ]

kipisi:
  summary: 'cut'
  new: true
  off: [
    ['vt', 'to cut']
  ]

kiwen:
  summary: 'stone'
  tags: ['shape']
  off: [
    ['mod', 'hard, solid, stone-like, made of stone or metal']
    ['n', 'hard thing, rock, stone, metal, mineral, clay']
  ]

ko:
  summary: 'slime'
  tags: ['shape', 'food']
  off: [
    ['n', 'semi-solid or squishy substance, e.g. paste, powder, gum']
  ]

kon:
  summary: 'air'
  tags: ['material']
  off: [
    ['n', 'air, wind, smell, soul']
    ['mod', 'air-like, ethereal, gaseous']
  ]

kule:
  summary: 'colour'
  tags: ['colour']
  off: [
    ['n', 'colour, paint']
    ['mod', 'colourful']
    ['vt', 'colour, paint']
  ]

kute:
  summary: 'hear'
  off: [
    ['vt', 'listen, hear']
    ['mod', 'auditory, hearing']
  ]

kulupu:
  summary: 'group'
  tags: ['people']
  off: [
    ['n', 'group, community, society, company, people']
    ['mod', 'communal, shared, public, of the society']
  ]

la:
  summary: '[<- context]'
  tags: ['grammar']
  off: [
    ['sep', '(between adverb or phrase of context and sentence)']
  ]

lape:
  summary: 'sleep'
  off: [
    ['mod', 'sleeping, of sleep']
  ]
  add: [
    ['n, vi', 'sleep, rest']
  ]

laso:
  summary: 'blue'
  tags: ['colour']
  off: [
    ['mod', 'blue, blue-green']
  ]

lawa:
  summary: 'leader'
  tags: ['people', 'body']
  off: [
    ['n', 'head, mind']
    ['mod', 'main, leading, in charge']
    ['vt', 'lead, control, rule, steer']
  ]

leko:
  summary: 'block'
  obsolete: true
  add: [
    ['n', 'stairs, square, block']
  ]

len:
  summary: 'cloth'
  tags: ['material']
  off: [
    ['n', 'clothing, cloth, fabric']
  ]

lete:
  summary: 'cold'
  tags: ['climate']
  off: [
    ['n', 'cold']
    ['mod', 'cold, uncooked']
    ['vt', 'cool down, chill']
  ]

li:
  summary: '[verb ->]'
  tags: ['grammar']
  off: [
    ['sep', '(between any subject except mi and sina and its verb; also used to introduce a new verb for the same subject)']
  ]

lili:
  summary: 'little'
  tags: ['number', 'shape']
  off: [
    ['mod', 'small, little, young, a bit, short, few, less']
    ['vt', 'reduce, shorten, shrink, lessen']
  ]

linja:
  summary: 'thread'
  tags: ['shape']
  off: [
    ['n', 'long, very thin, floppy thing, e.g. string, rope, hair, thread, cord, chain']
  ]

lipu:
  summary: 'sheet'
  tags: ['shape']
  off: [
    ['n', 'flat and bendable thing, e.g. paper, card, ticket']
  ]

loje:
  summary: 'red'
  tags: ['colour']
  off: [
    ['mod', 'red']
  ]

lon:
  summary: 'at'
  tags: ['location']
  off: [
    ['prep', 'be (located) in/at/on']
    ['vi', 'be there, be present, be real/true, exist, be awake']
  ]

luka:
  summary: 'arm'
  tags: ['body']
  off: [
    ['n', 'hand, arm']
  ]

lukin:
  summary: 'see'
  mnemonic: 'looking'
  off: [
    ['vt', 'see, look at, watch, read']
    ['vi', 'look, watch out, pay attention']
    ['mod', 'visual(ly)']
  ]

lupa:
  summary: 'hole'
  mnemonic: 'sounds like loop'
  off: [
    ['n', 'hole, orifice, window, door']
  ]

ma:
  summary: 'land'
  off: [
    ['n', 'land, earth, country, (outdoor) area']
  ]

majuna:
  summary: 'old'
  obsolete: true
  add: [
    ['mod', 'old']
  ]

mama:
  summary: 'parent'
  mnemonic: 'sounds like momma'
  tags: ['people']
  off: [
    ['n', 'parent, mother, father']
    ['mod', 'of the parent, parental, maternal, fatherly']
  ]

mani:
  summary: 'money'
  mnemonic: 'money'
  off: [
    ['n', 'money, material wealth, currency, dollar, capital']
  ]

meli:
  summary: 'girl'
  mnemonic: 'Mary'
  tags: ['people']
  off: [
    ['n', 'woman, female, girl, wife, girlfriend']
    ['mod', 'female, feminine, womanly']
  ]

mi:
  summary: 'me'
  mnemonic: 'me'
  tags: ['people']
  off: [
    ['n', 'I, we']
    ['mod', 'my, our']
  ]

mije:
  summary: 'boy'
  tags: ['people']
  off: [
    ['n', 'man, male, boy, husband, boyfriend']
    ['mod', 'male, masculine, manly']
  ]

moku:
  summary: 'eat'
  off: [
    ['n', 'food, meal']
    ['vt', 'eat, drink, swallow, ingest, consume']
  ]

moli:
  summary: 'die'
  off: [
    ['n', 'death']
    ['vi', 'die, be dead']
    ['vt', 'kill']
    ['mod', 'dead, deadly, fatal']
  ]

monsi:
  summary: 'back'
  tags: ['location', 'body']
  off: [
    ['n', 'back, rear end, butt, behind']
    ['mod', 'back, rear']
  ]

monsuta:
  summary: 'fear'
  obsolete: true
  add: [
    ['n', 'monster, fear']
  ]

mu:
  summary: 'meow'
  mnemonic: 'moo'
  tags: ['animal']
  off: [
    ['interj', 'woof! meow! moo! etc. (cute animal noise)']
  ]

mun:
  summary: 'moon'
  tags: ['climate']
  off: [
    ['n', 'moon']
    ['mod', 'lunar']
  ]

musi:
  summary: 'fun'
  off: [
    ['n', 'fun, playing, game, recreation, art, entertainment']
    ['mod', 'artful, fun, recreational']
    ['vi', 'play, have fun']
    ['vt', 'amuse, entertain']
  ]

mute:
  summary: 'many'
  mnemonic: 'multi'
  tags: ['number']
  off: [
    ['mod', 'many, very, much, several, a lot, abundant, numerous, more']
    ['n', 'amount, quantity']
    ['vt', 'make many or much']
  ]

namako:
  summary: 'extra'
  tags: ['number']
  new: true
  add: [
    ['mod', 'extra, additional']
    ['n', 'spice']
  ]

nanpa:
  summary: 'number'
  mnemonic: 'number'
  tags: ['number']
  off: [
    ['n', 'number']
    ['oth', '-th (ordinal numbers)']
  ]

nasa:
  summary: 'silly'
  off: [
    ['mod', 'silly, crazy, foolish, drunk, strange, stupid, weird']
    ['vt', 'drive crazy, make weird']
  ]

nasin:
  summary: 'way'
  off: [
    ['n', 'way, manner, custom, road, path, doctrine, system, method']
  ]

nena:
  summary: 'bump'
  tags: ['shape']
  off: [
    ['n', 'bump, nose, hill, mountain, button']
  ]

ni:
  summary: 'this'
  off: [
    ['mod', 'this, that']
  ]

nimi:
  summary: 'word'
  off: [
    ['n', 'word, name']
  ]

noka:
  summary: 'leg'
  tags: ['body']
  off: [
    ['n', 'leg, foot']
  ]

o:
  summary: 'hey'
  tags: ['grammar']
  off: [
    ['sep', 'O (vocative or imperative)']
    ['interj', 'hey! (calling somebody\'s attention)']
  ]

oko:
  summary: 'eye'
  mnemonic: 'similar to oculist'
  tags: ['body']
  off: [
    ['n', 'eye']
  ]

olin:
  summary: 'love'
  off: [
    ['n', 'love']
    ['mod', 'love']
    ['vt', 'to love (a person)']
  ]

ona:
  summary: 'they'
  tags: ['people']
  off: [
    ['n', 'she, he, it, they']
    ['mod', 'her, his, its, their']
  ]

open:
  summary: 'activate'
  off: [
    ['vt', 'open, turn on']
  ]

pakala:
  summary: 'oopsie'
  tags: ['bad']
  off: [
    ['n', 'blunder, accident, mistake, destruction, damage, breaking']
    ['vt', 'screw up, fuck up, botch, ruin, break, hurt, injure, damage, spoil, ruin']
    ['vi', 'screw up, fall apart, break']
    ['interj', 'damn! fuck!']
  ]

pali:
  summary: 'work'
  off: [
    ['n', 'activity, work, deed, project']
    ['mod', 'active, work-related, operating, working']
    ['vt', 'do, make, build, create']
    ['vi', 'act, work, function']
  ]

palisa:
  summary: 'stick'
  tags: ['shape']
  off: [
    ['n', 'long, mostly hard object, e.g. rod, stick, branch']
  ]

pan:
  summary: 'grain'
  tags: ['food']
  new: true
  off: [
    ['n', 'grain, cereal']
  ]

pana:
  summary: 'give'
  off: [
    ['vt', 'give, put, send, place, release, emit, cause']
    ['n', 'giving, transfer, exchange']
  ]

pasila:
  summary: 'easy'
  obsolete: 'pona'
  add: [
    ['mod', 'good, easy']
  ]

pata:
  summary: 'sibling'
  tags: ['people']
  obsolete: 'jan sama'
  off: [
    ['n', 'brother']
  ]
  add: [
    ['n', 'sibling']
  ]

pi:
  summary: 'of'
  off: [
    ['sep', 'of, belonging to']
  ]

pilin:
  summary: 'feel'
  mnemonic: 'feeling'
  off: [
    ['n', 'feelings, emotion, heart']
    ['vi', 'feel']
    ['vt', 'feel, think, sense, touch']
  ]

pimeja:
  summary: 'dark'
  tags: ['colour']
  off: [
    ['mod', 'black, dark']
    ['n', 'darkness, shadows']
    ['vt', 'darken']
  ]

pini:
  summary: 'finish'
  off: [
    ['n', 'end, tip']
    ['mod', 'completed, finished, past, done, ago']
    ['vt', 'finish, close, end, turn off']
  ]

pipi:
  summary: 'bug'
  tags: ['animal']
  off: [
    ['n', 'bug, insect, spider']
  ]

po:
  summary: 'four'
  obsolete: true
  add: [
    ['mod', 'four']
  ]

poka:
  summary: 'next to'
  tags: ['location']
  off: [
    ['n', 'side, hip, next to']
    ['prep', 'in the accompaniment of, with']
    ['mod', 'neighbouring']
  ]

poki:
  summary: 'container'
  mnemonic: 'box'
  off: [
    ['n', 'container, box, bowl, cup, glass']
  ]

pona:
  summary: 'good'
  mnemonic: 'bonam'
  off: [
    ['n', 'good, simplicity, positivity']
    ['mod', 'good, simple, positive, nice, correct, right']
    ['interj', 'great! good! thanks! OK! cool! yay!']
    ['vt', 'improve, fix, repair, make good']
  ]
  add: [
    ['mod', 'beneficial; good']
    ['mod', 'benevolent; altruistic, kind, symbiotic']
    ['mod', 'helpful; cooperating']
    ['mod', 'ideal']
    ['mod', 'conducive to overall wellness']
  ]

powe:
  summary: 'fake'
  obsolete: true
  add: [
    ['mod', 'unreal, false, untrue, pretend']
    ['vt', 'deceive']
    ['vi', 'trick']
  ]

sama:
  summary: 'same'
  off: [
    ['mod', 'same, similar, equal, of equal status or position']
    ['prep', 'like, as, seem']
  ]
  add: [
    ['mod', 'filling the same or a similar role; equivalent']
    ['mod', 'self-']
  ]

seli:
  summary: 'hot'
  tags: ['climate']
  off: [
    ['n', 'fire, warmth, heat']
    ['mod', 'hot, warm, cooked']
    ['vt', 'heat, warm up, cook']
  ]
  add: [
    ['n', 'fire, a force of nature or chemical reaction that releases heat and light, potentially causing destruction; fire, lightning, explosion, exothermic reaction']
    ['n', 'heat source, something that provides heat']
    ['n', 'cooking source, something that provides heat for preparing food']
    ['n', 'light source, something that provides light']
    ['vt', 'to use seli on']
  ]

selo:
  summary: 'outside'
  tags: ['location']
  off: [
    ['n', 'outside, surface, skin, shell, bark, shape, peel']
  ]

seme:
  summary: 'what'
  tags: ['grammar']
  off: [
    ['oth', 'what, which, wh- (question word)']
  ]

sewi:
  summary: 'above'
  tags: ['location']
  off: [
    ['n', 'high, up, above, top, over, on']
    ['mod', 'superior, elevated, religious, formal']
  ]
  add: [
    ['mod', 'awe-inspiring, inspiring a feeling of wonder, respect and fear; venerable, reverend, estimable, honourable, awe-inspiring, humbling, mesmerizing, venerable, reverend, honourable, looked up to in adoration']
    ['mod', 'captivating, causing a hypnotizing effect, able to hold people in an uncontrollable state of admiration; spellbinding, fascinating, mesmerizing, hypnotic, mysteriously impressive, captivating, enchanting']
    ['mod', 'having higher powers or effects']
    ['mod', 'supernatural']
    ['mod', 'interpreted as belonging to a world beyond the ordinary and physical; transcendent, transcending, divine, magical, mysterious, wondrous, miraculous']
    ['mod', 'causing supernormal stimulus']
    ['mod', 'idealized']
    ['mod', 'worshipped']
    ['mod', 'physically deep']
    ['mod', 'figuratively deep']
  ]

sijelo:
  summary: 'body'
  tags: ['body']
  off: [
    ['n', 'body, physical state']
  ]

sike:
  summary: 'round'
  tags: ['shape']
  off: [
    ['n', 'circle, wheel, sphere, ball, cycle']
    ['mod', 'round, cyclical']
  ]

sin:
  summary: 'new'
  off: [
    ['mod', 'new, fresh, another, more']
    ['vt', 'renew, renovate, freshen']
  ]

sina:
  summary: 'you'
  tags: ['people']
  off: [
    ['n', 'you']
    ['mod', 'your']
  ]

sinpin:
  summary: 'front'
  tags: ['location']
  off: [
    ['n', 'front, chest, torso, face, wall']
  ]

sitelen:
  summary: 'picture'
  off: [
    ['n', 'picture, image']
    ['vt', 'draw, write']
  ]
  add: [
    ['n', 'representation, a visual or tactile work that serves to show, describe, explain or remind us of something else; representation, model']
    ['n', 'picture, specific lines and shapes marked on a surface; drawing, print, painting, image, sign, sketch, outline, blueprint, etching, picture,']
    ['n', 'diagram, chart, graph']
    ['n', 'sculpture , an object made into the shape of something; carving, sculpture, figurine, replica']
  ]

sona:
  summary: 'know'
  off: [
    ['n', 'knowledge, wisdom, intelligence, understanding']
    ['vt', 'know, understand, know how to']
    ['vi', 'know, understand']
    ['kama', 'learn, study']
  ]
  add: [
    ['n', 'system of knowledge or beliefs']
  ]

soweli:
  summary: 'animal'
  tags: ['animal']
  off: [
    ['n', 'animal, especially land mammal, lovable animal']
  ]

suli:
  summary: 'big'
  off: [
    ['mod', 'big, tall, long, adult, important']
    ['vt', 'enlarge, lengthen']
    ['n', 'size']
  ]

suno:
  summary: 'sun'
  tags: ['climate']
  off: [
    ['n', 'sun, light']
  ]
  add: [
    ['mod', 'having the qualities or characteristics of suno, shiny']
  ]

supa:
  summary: 'platform'
  off: [
    ['n', 'horizontal surface, e.g furniture, table, chair, pillow, floor']
  ]
  add: [
    ['n', 'supporting platform, surface']
  ]

suwi:
  summary: 'sweet'
  mnemonic: 'sweet'
  tags: ['food']
  off: [
    ['n', 'candy, sweet food']
    ['mod', 'sweet, cute']
    ['vt', 'sweeten']
  ]

tan:
  summary: 'origin'
  off: [
    ['prep', 'from, by, because of, since']
    ['n', 'origin, cause']
  ]
  add: [
    ['prep', 'relation word, origin, indicates the place of origin']
  ]

taso:
  summary: 'only'
  mnemonic: 'that\'s all'
  tags: ['number']
  off: [
    ['mod', 'only, sole']
    ['conj', 'but']
  ]

tawa:
  summary: 'to'
  mnemonic: 'towards'
  tags: ['movement']
  off: [
    ['prep', 'to, in order to, towards, for, until']
    ['vi', 'go to, walk, travel, move, leave']
    ['n', 'movement, transportation']
    ['mod', 'moving, mobile']
    ['vt', 'move, displace']
  ]

telo:
  summary: 'water'
  tags: ['material']
  off: [
    ['n', 'water, liquid, juice, sauce']
    ['vt', 'water, wash with water']
  ]
  add: [
    ['n', 'liquid, a flowing wet substance; liquid, fluid, water']
    ['n', 'beverage, a liquid for drinking; beverage, drink, water, juice']
    ['n', 'a liquid for washing; water']
    ['n', 'body fluid, a liquid that comes out of the body; blood, milk, saliva, semen, sweat, tears, urine']
    ['n', 'body of water, an area covered with water; bay, strait, sea, lake, river, stream']
    ['vt', 'to use telo on; to water, rinse, wash, wet']
    ['mod', 'having the characteristics or properties of telo; wet, liquid']
  ]

tenpo:
  summary: 'time'
  off: [
    ['n', 'time, period of time, moment, duration, situation']
  ]
  add: [
    ['n', 'moment']
    ['n', 'occasion']
  ]

toki:
  summary: 'talk'
  off: [
    ['n', 'language, talking, speech, communication']
    ['mod', 'talking, verbal']
    ['vt', 'say']
    ['vi', 'talk, chat, communicate']
    ['interj', 'hello! hi!']
  ]
  add: [
    ['vt', 'to give and receive (e: information) (tawa: with); to communicate']
    ['vt', 'to put together (e: thoughts or ideas); to think out']
  ]

tomo:
  summary: 'building'
  off: [
    ['n', 'indoor constructed space, e.g. house, home, room, building']
    ['mod', 'urban, domestic, household']
  ]
  add: [
    ['n', 'shelter']
    ['n', 'building']
    ['n', 'home']
    ['n', 'room']
    ['n', 'designated place']
  ]

tu:
  summary: 'two'
  mnemonic: 'tu'
  tags: ['number']
  off: [
    ['mod', 'two']
    ['n', 'duo, pair']
    ['vt', 'double, separate/cut/divide in two']
  ]

tuli:
  summary: 'three'
  obsolete: true
  add: [
    ['mod', 'three']
  ]

unpa:
  summary: 'sex'
  tags: ['body']
  off: [
    ['n', 'sex, sexuality']
    ['mod', 'erotic, sexual']
    ['vt', 'have sex with, sleep with, fuck']
    ['vi', 'have sex']
  ]

uta:
  summary: 'mouth'
  tags: ['body']
  off: [
    ['n', 'mouth']
    ['mod', 'oral']
  ]
  add: [
    ['n', 'mouth: the part of the human body that includes the lips and everything inside the mouth and throat; mouth, oral cavity, throat, pharynx, lips']
    ['n', 'maw: a similar part in an animal\'s body, used for eating, sucking or grooming; beak, bill, rostrum, jaw, proboscis']
  ]

utala:
  summary: 'conflict'
  off: [
    ['n', 'conflict, disharmony, competition, fight, war, battle, attack, blow, argument, physical or verbal violence']
    ['vt', 'hit, strike, attack, compete against']
  ]
  add: [
    ['n', 'competition']
    ['n', 'conflict']
    ['n, vi', 'struggle']
  ]

walo:
  summary: 'white'
  mnemonic: 'sounds like wall, which is often white'
  tags: ['colour']
  off: [
    ['mod', 'white, light (colour)']
    ['n', 'white thing or part, whiteness, lightness']
  ]

wan:
  summary: 'one'
  mnemonic: 'one'
  tags: ['number']
  off: [
    ['mod', 'one, a']
    ['n', 'unit, element, particle, part, piece']
    ['vt', 'unite, make one']
  ]

waso:
  summary: 'bird'
  tags: ['animal']
  off: [
    ['n', 'bird, winged animal']
  ]

wawa:
  summary: 'power'
  off: [
    ['n', 'energy, strength, power']
    ['mod', 'energetic, strong, fierce, intense, sure, confident']
    ['vt', 'strengthen, energize, empower']
  ]
  add: [
    ['mod', 'intense']
    ['mod', 'strong']
    ['mod', 'fast']
    ['mod', 'loud: (of sound) having a high volume or amplitude']
    ['mod', 'confident, sure']
  ]

weka:
  summary: 'away'
  off: [
    ['mod', 'away, absent, missing']
    ['n', 'absence']
    ['vt', 'throw away, remove, get rid of']
  ]

wile:
  summary: 'want'
  off: [
    ['vt', 'to want, need, wish, have to, must, will, should']
    ['n', 'desire, need, will']
    ['mod', 'necessary']
  ]
