html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-size: 0;
  font-family: 'Inconsolata', monospace;
  display: flex;
  background-color: #eee;
}
textarea,
input,
select {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.editor {
  flex: auto;
  position: relative;
  background-color: #fefefe;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 30px;
}
.editable {
  color: black;
  resize: none;
}
.editable::selection {
  background-color: rgba(0, 0, 0, 0.2);
}
.editable:focus {
  outline: none;
}
.highlighted {
  pointer-events: none;
  white-space: pre-wrap;
  overflow-y: auto;
  word-break: break-word;
}
.empty-line-placeholder {
  font-size: 0;
}

.dict-resize {
  cursor: ew-resize;
  flex: none;
  width: 10px;
  margin: 0 -5px;
  position: relative;
  z-index: 1;
}
.dictionary {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.entry {
  height: 350px;
  background-color: #f6f6f6;
  overflow: auto;
  flex: none;
}
.entry-content {
  padding: 10px;
}
.no-content .entry-content {
  display: none;
}
.entry-word {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.entry-summary {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  text-align: center;
}
.entry-tags {
  text-align: center;
}
.entry-tags li {
  margin: 5px;
}
.definitions {
  margin-top: 10px;
}
.definitions li {
  font-size: 16px;
  margin-top: 5px;
}
.definitions hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
}
.speech-part {
  cursor: help;
  text-transform: uppercase;
  font-size: 12px;
}
.etymology {
  margin-top: 10px;
  font-size: 16px;
}
.origin {
  font-style: italic;
}
.language,
.ipa,
.plain-text {
  font-style: normal;
}
.no-entry-content {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.no-content .no-entry-content {
  display: flex;
}
.entry-resize {
  width: 100%;
  height: 10px;
  margin: -5px 0;
  flex: none;
  cursor: ns-resize;
}

.list {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.search,
.tag-select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  flex: none;
}
.search {
  background-image: url('./search-24px.svg');
}
.search:focus {
  outline: none;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.05);
}
.tag-select {
  background-image: url('./arrow_drop_down-24px.svg');
}
.searching .tag-select {
  display: none;
}
.results {
  overflow: auto;
  height: 0;
  flex: auto;
}
.results > li {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.results > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.results > .selected {
  background-color: rgba(0, 0, 255, 0.1);
}
.word {
  color: rgba(0, 0, 0, 0.8);
}
.summary {
  color: rgba(0, 0, 0, 0.5);
}
.tags {
  display: inline-block;
}

.entry-tags li,
.tags li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  background-color: black;
  border-radius: 2px;
  padding: 2px 5px;
}
.hidden {
  display: none;
}
